# 다차원 배열 생성하기

In [1]:
import numpy as np

## 직접 원소를 입력해서 다차원 배열 생성하기

np.array()를 사용해 다차원 배열을 생성한다.

In [2]:
boolArray = np.array([True, False, True, False, True])

In [3]:
boolArray

array([ True, False,  True, False,  True])

In [4]:
boolArray.dtype

dtype('bool')

정수형의 default data type은 환경에 따라 다릅니다.

In [5]:
intArray = np.array([[1, 2], [3, 4]])

In [6]:
intArray

array([[1, 2],
       [3, 4]])

In [7]:
intArray.dtype

dtype('int32')

부호 없는 정수형은 uint 입니다.

In [8]:
uintArray = np.array([[1,2], [3, 4]], dtype='uint')

In [9]:
uintArray

array([[1, 2],
       [3, 4]], dtype=uint32)

실수형도 마찬가지입니다.

In [10]:
floatArray = np.array([[1., 2.], [3., 4.]],
                     dtype='float16') #dtype을 지정해줄 수 있다.

In [11]:
floatArray

array([[1., 2.],
       [3., 4.]], dtype=float16)

## ㅇㅇㅇ

### numpy.empty

shape을 정해주면, 아무 값이나 때려박습니다.

In [12]:
np.empty((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [13]:
A = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [14]:
np.empty_like(A)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

empty_like는 형태를 그대로 받아와서 아무 값이나 때려박습니다.

### numpy.zeros

empty랑 비슷한데, 0으로 초기화를 해주는 함수

In [15]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [16]:
np.zeros_like(A)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

zeros_like는 형태를 받아와서 0으로 초기화

### numpy.ones

zeros랑 비슷한데, 1로 초기화를 해주는 함수

In [17]:
np.ones((2, 4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [18]:
np.ones_like(A)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

ones_like()도 마찬가지

### numpy.identity

단위행렬을 만들어주는 것입니다.

In [19]:
np.identity(2)

array([[1., 0.],
       [0., 1.]])

In [20]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### numpy.eye

identity의 상위호환, 파라미터를 줘서 값을 바꿀 수 있다.

In [21]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [22]:
np.eye(3, 4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [23]:
np.eye(3, 4, 1)

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [24]:
np.eye(3, 4, -1)

array([[0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.]])

하지만 쓸 일이 거의 없다

### numpy.full

zeros와 ones의 상위호환

In [25]:
np.full((2, 3), 10)

array([[10, 10, 10],
       [10, 10, 10]])

하지만 ones를 써서 10을 곱해버리면 되니, 잘 안 쓴다.

### numpy.arange

In [26]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

기본적으로 start=0, step=1 이 들어가 있다.

In [27]:
np.arange(start=1, stop=5, step=0.5)

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

### numpy.linspace

arange랑 비슷한데, 가운데 몇 개를 넣어줄지 정하는 것

In [28]:
np.linspace(2.0, 3.0, num=5)

array([2.  , 2.25, 2.5 , 2.75, 3.  ])

## 통계를 해보자

### numpy.amin

최소값을 구해줍니다.

In [29]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [36]:
np.amin(A,
        1) # 축을 의미한다. axis

array([1, 4, 7])

In [33]:
np.amin(A) # 축을 넣지 않으면 전체 값을

1

### numpy.amax

최대값을 구해주겠죠?

In [39]:
np.amax(A,
       0)

array([7, 8, 9])

In [38]:
np.amax(A)

9

### numpy.ptp

최대값과 최소값의 범위를 보는 함수?!

In [40]:
np.ptp(A, 0)

array([6, 6, 6])

In [41]:
np.ptp(A)

8

In [42]:
np.ptp(A, 1)

array([2, 2, 2])

엄청 큰 배열을 살펴볼 때 쓴다.

###  numpy.median

In [43]:
np.median(A, 0)

array([4., 5., 6.])

In [44]:
np.median(A)

5.0

In [45]:
np.median(A, 1)

array([2., 5., 8.])

### numpy.mean

### numpy.var

### numpy.std